body{
  background-color:#2d3c63;
  background-image:linear-gradient(180deg,#2d3c63 50%,#4d86cc 100%);
  background-size: cover;

  padding: 0;
  height: auto;
}

.bg-login-image{
  /*background:url(https://source.unsplash.com/K4mSJ7kc0As/600x800);*/
  background: url(./Assets/Images/Modern_Tutor.jpg);
  background-position:center;
  background-size:cover;
}

.bg-register-image{
  /*background:url(https://source.unsplash.com/Mv9hjnEUHR4/600x800);*/
  background: url(./Assets/Images/Register_Tutor.jpg);
  background-position:center;
  background-size:cover
}

.font-20{
  font-size: 20px  !important;
}

.align-center{
  text-align: center;
}

.btn-facebook{ 
  background-color: #4c69ba;
  color: white;
  border: 1px solid #4c69ba;
  height: 45px;
  text-align: left;
  font-size: 18px;
}

.btn-facebook i{
  margin-left: 4px;
  margin-right: 20px;  
}