body{
  background-color:#2d3c63;
  background-image:linear-gradient(180deg,#2d3c63 50%,#4d86cc 100%);
  background-size: cover;

  padding: 0;
  height: auto;
}

.bg-login-image{
  /*background:url(https://source.unsplash.com/K4mSJ7kc0As/600x800);*/
  background: url(./Assets/Images/Modern_Tutor.jpg);
  background-position:center;
  background-size:cover;
}

.bg-register-image{
  /*background:url(https://source.unsplash.com/Mv9hjnEUHR4/600x800);*/
  background: url(./Assets/Images/Register_Tutor.jpg);
  background-position:center;
  background-size:cover
}

.bg-register-tutor-image{
  /*background:url(https://images.wisegeek.com/teacher-at-chalkboard.jpg);*/
  background: url(https://images.wisegeek.com/teacher-at-chalkboard.jpg);
  background-position: left;
  background-size: cover;
}

.font-20{
  font-size: 20px  !important;
}


.align-center{
  text-align: center;
}

.btn-facebook{ 
  background-color: #4c69ba;
  color: white;
  border: 1px solid #4c69ba;
  height: 45px;
  text-align: left;
  font-size: 18px;
}

.btn-facebook i{
  margin-left: 4px;
  margin-right: 20px;  
}

.form-select{
  border-radius: 40px;
  color: #6e707e;
  border: 1px solid #d1d3e2;
}

.cat-bar {
  background-color:#ffff;
  margin-top: 57px;
}

.float-center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: center;
}

.transparent {
  opacity: 0.3;
}

.card-size {
  width: 300px;
  height: 350px;
}

.justify-items-center {
  justify-items: center;
}

.dropdown-maxrows-4 {
  height: 100px;
}

.width-size-75px {
  width: 75px;
}

.border-width-2px {
  border-width: 2px;
}

.background-transparent {
  background-color: transparent !important;
}

.hide-down-arrow-dropdown::after {
  content: none;
}

.font-size-20px {
  font-size: 25px;
}

.border-top {
  border-width: 5px !important;
}

.carousel-item {
  height: 500px;

  background-color: rgba(0,0,0,0.5);
  
}